*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.userRequest{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll;
}
