@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgb(25, 24, 24);
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #1d1a1a;
    border-radius: 26px;
}

header {
    padding: 12px 12px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:black;
    z-index: 6;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    margin: 10px;
}

header nav ul a {
    text-decoration: none;
    color: white;
}

header nav .first-container li {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
}

header nav .second-container li a:hover {
    color: rgba(248, 243, 243, 0.6);
    font-size: 20;
}

.main-container {
    position: relative;
}

.bars {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bars img {
    cursor: pointer;
}

.container {
    height: 100vh;
    background-image: url('/images/repair.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100px);
    filter: contrast(60px);
    filter: saturate(90px);
    filter: grayscale(70px);
}

.content {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 128, 124, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .container-for-content {
    color: white;
}

.content .container-for-content h2 {
    font-weight: 800;
    line-height: 1.2;
    color: blueviolet;
}

.container .container-for-content p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

.container-for-content a {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    padding: 6px;
    color: white;
    background-color: blueviolet;
    border-radius: 4.06px;
}

.container-for-content .button-box {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.about-website {
    width: 80vw;
    margin: auto;
    background-color: gray;
    border-radius: 8px;
    color: black;
    padding: 12px 12px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-website h2 {
    font-size: 26px;
    font-weight: 800;
    text-align: center;
}

.about-website .osms-content {
    width: 60vw;
    margin-top: 12px;
}

.about-website .osms-content p {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 700;
}
.my-services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.my-services .card{
    width:300px;
    height:336px;
    padding: 18px;
    border-radius: 6px;
    border: 2px solid rgb(255, 0, 51);
    margin: 8px 8px;
    background-color: black;
}

.my-services .card img{
    width: 100%;
    height: 100%;
}
.btn-title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn-title a{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 6px;
    padding: 6px;
    border: none;
    cursor: pointer;
}
.btn-title .wrap{
    margin-top: 8px;
}
.contact-container{
    padding-bottom: 118px;
}
.contact-container .contact-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-container .contact-box div{
    width:42vw;
    height:90vh;
    border: 2px solid rgb(255, 0, 51);
    border-radius: 6px;
}

.contact-container .contact-box .contact-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}
.contact-form form input{
    padding: 6px;
    border: none;
    outline: 1px solid rgb(255, 0, 51);
    background-color: black;
    color: white;
    border-radius: 2px;
    margin: 9px  0;
    width: 32vw;
}
.contact-form form textarea{
    padding: 6px;
    border: none;
    outline: 1px solid rgb(255, 0, 51);
    background-color: black;
    color: white;
    border-radius: 2px;
    margin: 9px  0;
    width: 32vw;
    resize: none;
}
.contact-form form button{
    padding: 6px;
    border: none;
    outline: 1px solid rgb(255, 0, 51);
    background-color: black;
    color: white;
    border-radius: 2px;
    margin: 9px  0;
    width: 32vw;
    resize: none;
    cursor: pointer;
}
footer{
    padding: 12px 12px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}


.icons a:hover img{
    scale: 1.06;
    background-color:rgba(127, 16, 231, 0.7);
    padding: 6px;
    border-radius: 6px;
}
.icons a img{
    filter: invert(100%);
    transition:all 1.06 ease-in;

}
.min-height{
    min-height: 22vh;
}
.container-fluid form{
    width: 70vw;
    padding: 12px 12px;
    margin: auto;
}

.FormVailidationErrors{
    font-size: 16px;
    color:rgb(255, 0, 0);
}
.registration-form input{
    outline: 2px solid blueviolet;
    background-color: black;
    color: white;
}
.registration-form .SingUp{
    background-color: blueviolet;
    color: white;
}


.requestheight{
    min-height: 16vh;
    background-color: black;
}
.request-container{
    padding-bottom: 220px;
    background-color: black;
    color: white;
}
.request-submit{
    background-color: black;
    color: white;
}
.request-submit:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.request-container button{
    background-color: blueviolet;
}
.request-container input{
    outline: 2px solid blueviolet;
}
.show-request-customer-conatiner{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding-bottom: 120px;
}
.view-users-allrequestContainer{
background-color: black;
color: white;
width: 360px;
height: 360px;
margin: 8px 8px;
}
.view-users-allrequestContainer a{
    background-color: blueviolet;
    color: white;
}
.show-user-request a{
    background-color: black;
    color: white;
}
.stsuaView input{
padding: 6px;
outline: 2px solid blueviolet;
border-radius: 16px;
}
.stsuaView button{
    background-color: blueviolet;
    color: white;
}
.reset-form input{
background-color: black;
outline: 2px solid blueviolet;
}
.reset-form button{
    background-color: blueviolet;
    color: white;
}
@media screen and (max-width: 1402px) {
    .second-container {
        transition: transform 1s ease-in;
    }

    .container {
        background-position: center;
        margin-top: 5.20%;
    }


    .second-container {
        transform: translate(-280%);
        position: absolute;
        right: 0;
        top: 98%;
        z-index: 2;
        width: 50vw;
        background-color: black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10;
        opacity: 0;
    }

    .second-container.add {
        transform: translate(0);
        opacity: 1;
    }

    .bars {
        display: flex;
    }
}

.welcome{
    display: flex;
    background-color: rgba(60, 219, 216, 0.8);
    padding: 12px;
    border-radius: 6px;
    border: 2px solid rgb(255, 0, 51);
}
.no-data{
    color: rgb(6, 244, 6);
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:300px) {
    .requestheight{
        min-height: 26vh;
    }
}


@media screen and (max-width: 780px) {
    .view-users-allrequestContainer{
        width: 260px;
        height: 490px;
    }

}
@media screen and (max-width: 300px) {
    .view-users-allrequestContainer{
        width: 260px;
        height: 520px;
    }

}

@media screen and (max-width: 390px) {

    #aim{
        font-size: 12px;
    }
    .second-container li{
    font-size: 16px;
    }
    .second-container li a{
        font-size: 16px;
    }
    .second-container{
        width: 68vw;
    }
}


@media screen and (max-width: 310px) {

    #aim{
        font-size: 7px;
    }
    .second-container li{
    font-size: 10px;
    }
    .second-container li a{
        font-size: 10px;
    }
    .second-container{
        width: 76vw;
    }

    footer h4{
        font-size: 16px;
    }
}

@media screen and (max-width: 258px) {

    #aim{
        font-size: 7px;
    }
    .second-container li{
    font-size: 10px;
    }
    .second-container li a{
        font-size: 10px;
    }
    .second-container{
        width: 76vw;
    }

    footer h4{
        font-size: 12px;
    }
}


@media screen and (max-width: 1200px) {
    .contact-container .contact-box div{
        height: 70vh;
    }
}
@media screen and (max-width: 800px) {
    .contact-container .contact-box div{
        width: 80vw;
        margin: 9px 0;
    }
    .contact-form form input,
    .contact-form form textarea,
    .contact-form form button {
        width: 60vw;
    }
}

@media screen and (max-width: 800px) {
    .contact-container .contact-box div{
        width: 80vw;
        margin: 9px 0;
        height: 86vh;
    }
    .contact-form form input,
    .contact-form form textarea,
    .contact-form form button {
        width: 70vw;
    }
}
